.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.env
.env.example
docs_build
site_build
venv
docs.zip
archive.zip
attempted_questions_log.txt

*~
.*.sw?
.cache

.DS_Store

/uploads/

# Virtual environment
.venv/
venv/
env/

logs/
.logs/

queries.sql